$font-family-gotham-xlight: "gothamxlight";
$font-family-gotham-bold: "gothambold";
$font-family-gotham-book: "gothambook";
$font-family-gotham-light: "gothamlight";

$font-family-base: $font-family-gotham-book;
$font-family-heading: $font-family-gotham-xlight;
