@font-face {
  font-family: "gothamxlight";
  src: url("assets/fonts/gotham-xlight-webfont.woff2") format("woff2"),
    url("assets/fonts/gotham-xlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("assets/fonts/gothambold-webfont.woff2") format("woff2"),
    url("assets/fonts/gothambold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook";
  src: url("assets/fonts/gothambook-webfont.woff2") format("woff2"),
    url("assets/fonts/gothambook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("assets/fonts/gothamlight-webfont.woff2") format("woff2"),
    url("assets/fonts/gothamlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
