$grid-size: 8px;

$margin-left: 20px;
$margin-left-medium: 40px;
$margin-left-large: 80px;

$margin-right: $margin-left;
$margin-right-medium: $margin-left-medium;
$margin-right-large: $margin-left-large;

$margin-top: 20px;
$margin-top-medium: 40px;
$margin-top-large: 80px;

$margin-bottom: $margin-top;
$margin-bottom-medium: $margin-top-medium;
$margin-bottom-large: $margin-top-large;

$maximum-width: 1440px;
