.primary-button {
  border: 3px solid $color-purple;
  background: $color-white;
  padding: 15px 40px;
  font-size: 22px;
  font-family: $font-family-gotham-bold;
  color: $color-purple;
  cursor: pointer;
}
