.video {
  position: relative;

  &:hover {
    .video__action-play-pause {
      opacity: 1;
    }
  }

  video {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .video__action-play-pause {
    top: 35%;
    cursor: pointer;
    left: 45%;
    position: absolute;
    background: transparent;
    border: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 500ms;

    @media (--viewport-small) {
      top: 40%;
    }

    img {
      display: block;
      height: 40px;
      width: 40px;

      @media (--viewport-medium) {
        height: 80px;
        width: 80px;
      }
    }
  }

  .video__action-play-pause .video__video-play {
    display: none;
  }

  .video__action-play-pause--pause {
    .video__video-pause {
      display: none;
    }

    .video__video-play {
      display: block;
    }
  }
}
