.section-bloglist {
  margin-bottom: 50px;
}

.section-bloglist-container__inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section-bloglist-item {
  width: 100%;

  @media (--viewport-small) {
    width: calc(calc(calc(100% / 12) * 3) - 80px);
    padding: 40px;
  }

  @media (--viewport-medium) {
    width: calc(calc(calc(100% / 12) * 3) - 80px);
    padding: 40px;
  }
}

.section-bloglist-item-img {
  img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}
