.section-grid-solutions {
  margin-bottom: 100px;
}

.grid-solutions__icons-grid-container {
  background: $color-gray;
}

.grid-solutions__header {
  margin-bottom: 60px;
}

.grid-solutions__header-body {
  margin: auto;
  text-align: center;
}

.grid-solutions__icons-grid-container-inner {
  display: flex;
  flex-direction: column;

  @media (--viewport-medium) {
    flex-direction: row;
  }
}

.grid-solutions__icons-grid-item {
  padding: 25px 50px;

  @media (--viewport-medium) {
    padding: 50px;
  }

  .grid-solutions__icon {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    img {
      max-width: 60px;
      width: 100%;
      display: block;
    }
  }

  .heading-2,
  .body {
    text-align: center;
  }

  .heading-2 {
    margin-bottom: 5px;
  }

  .body {
    p {
      margin-top: 0;
    }
  }
}

.grid-solutions__color-bar {
  margin-bottom: -5px;
  display: flex;
  .color-bar {
    width: calc(calc(100% / 12) * 4);
    height: 5px;

    &1 {
      background: $color-purple;
    }

    &2 {
      background: rgba($color-purple, 0.7);
    }

    &3 {
      background: rgba($color-purple, 0.4);
    }
  }
}
