.section-textandimage {
  margin-bottom: 70px;
}

.section-textandimage-container {
  display: flex;
}

.section-textandimage-left,
.section-textandimage-right {
  width: 50%;
}

.section-textandimage-left {
  position: relative;
  line-height: 0;
}

.textandimage-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.textandimage-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.section-textandimage-right-text {
  background: $color-purple;
  color: $color-white;
  text-align: center;
  height: calc(50% - 100px);
  padding: 50px;
  display: flex;
  align-items: center;
  .heading-2 {
    margin-top: 0px;
  }
}

.section-textandimage-right-video {
  height: 50%;

  video {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.textandimage-slider {
  > div {
    display: none;
    &:first-child {
      display: block;
    }
  }
}
